@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto Flex", sans-serif;
    border: none;
}
#file-upload {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    cursor: pointer;
}